<h2 mat-dialog-title>Détails de l'Étape</h2>
<mat-dialog-content>
    <form [formGroup]="stepForm">
        <mat-form-field>
            <mat-label>Status</mat-label>
            <mat-select formControlName="status" required>
                @for(status of statuses; track status){
                <mat-option [value]="status['@id']">{{ status.name }}</mat-option>
                }
            </mat-select>
            @if (stepForm.get('status')?.errors && stepForm.get('status')?.touched) {
            <mat-error>Le status est requis.</mat-error>
            }
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Type</mat-label>
            <mat-select formControlName="type" required>
                @for(type of stepTypes; track type){
                <mat-option [value]="type">{{ type }}</mat-option>
                }
            </mat-select>
            @if(stepForm.get('type')?.errors && stepForm.get('type')?.touched)
            {
            <mat-error>Le type est requis.</mat-error>
            }
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Date prévue d'arrivée</mat-label>
            <input matInput [matDatepicker]="arrivalPicker" formControlName="scheduledArrival" required>
            <mat-datepicker-toggle matIconSuffix [for]="arrivalPicker"></mat-datepicker-toggle>
            <mat-datepicker #arrivalPicker></mat-datepicker>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Date prévue de départ</mat-label>
            <input matInput [matDatepicker]="departurePicker" formControlName="scheduledDeparture" required>
            <mat-datepicker-toggle matIconSuffix [for]="departurePicker"></mat-datepicker-toggle>
            <mat-datepicker #departurePicker></mat-datepicker>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Produit</mat-label>
            <mat-select formControlName="product" required>
                @for(product of products; track product){
                <mat-option [value]="product['@id']">{{ product.name }}</mat-option>
                }
            </mat-select>
            @if (stepForm.get('product')?.errors && stepForm.get('product')?.touched) {
            <mat-error>Le client est requis.</mat-error>
            }
        </mat-form-field>
        <mat-form-field>
            <mat-label>Adresse</mat-label>
            <mat-select formControlName="address" required>
                @for(address of addresses; track address){
                <mat-option [value]="address['@id']">{{ address.street }}</mat-option>
                }
            </mat-select>
            @if (stepForm.get('address')?.errors && stepForm.get('address')?.touched) {
            <mat-error>Le client est requis.</mat-error>
            }
        </mat-form-field>
        <mat-form-field>
            <mat-label>Fuel Type</mat-label>
            <mat-select formControlName="fuelType" required>
                @for(fuel of fuelTypes; track fuel){
                <mat-option [value]="fuel.id">{{ fuel.name }}</mat-option>
                }
            </mat-select>
            @if (stepForm.get('fuelType')?.errors && stepForm.get('fuelType')?.touched) {
            <mat-error>Le Fuel Type est requis.</mat-error>
            }
        </mat-form-field>
        <mat-form-field>
            <mat-label>Unité</mat-label>
            <mat-select formControlName="unit" required>
                @for(unit of units; track unit){
                <mat-option [value]="unit['@id']">{{ unit.name }}</mat-option>
                }
            </mat-select>
            @if (stepForm.get('status')?.errors && stepForm.get('status')?.touched) {
            <mat-error>Le status est requis.</mat-error>
            }
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Quantité</mat-label>
            <input matInput type="number" formControlName="quantity" required>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Description</mat-label>
            <input matInput formControlName="description" required>
        </mat-form-field>

    </form>
</mat-dialog-content>
<mat-dialog-actions>
    <button mat-button (click)="onClose()">Annuler</button>
    <button mat-button (click)="onSave()" color="primary">Sauvegarder</button>
</mat-dialog-actions>