<header>
    <nav>
        <a routerLink="/" class="nav-link">Accueil</a>
        @if(!username){
        <a routerLink="/login" class="nav-link">Se connecter</a>
        <a routerLink="/register" class="nav-link">S'inscrire</a>
        }
        @if(username){
        <a routerLink="/dashboard" class="nav-link">Dashboard</a>
        <span>Bienvenue {{ username }}</span>
        <a routerLink="/login" class="nav-link" (click)="logout()">Se deconnecter</a>
        <a routerLink="/tournees" class="nav-link">Tournées</a>
        }
    </nav>
</header>


<main class="main-container">
    <router-outlet></router-outlet>
</main>