<header>
    <nav>
        <a routerLink="/" class="nav-link">Accueil</a>
        @if(!username){
        <a routerLink="/login" class="nav-link">Se connecter</a>
        <a routerLink="/register" class="nav-link">S'inscrire</a>
        }
        @if(username){
        <a routerLink="/dashboard" class="nav-link">Dashboard</a>
        <span>Bienvenue {{ username }}</span>
        <a routerLink="/gestion-des-tournees" class="nav-link">Gestion des tournées</a>
        <a routerLink="/gestion-des-clients" class="nav-link">Gestion des clients</a>
        <a routerLink="/gestion-des-commandes" class="nav-link">Gestion des commandes</a>
        <a routerLink="/login" class="nav-link" (click)="logout()">Se deconnecter</a>
        }
    </nav>
</header>


<main class="main-container">
    <router-outlet></router-outlet>
</main>