<!-- <div>
    <h1>List of Tours</h1>
    <button (click)="addTour()">Add Tour</button>
    <table>
        <thead>
            <tr>
                <th>Start Date</th>
                <th>End Date</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @for (tour of tours; track $index) {
            <tr>
                <td>{{ tour.startDate | date }}</td>
                <td>{{ tour.endDate | date }}</td>
                <td>
                    <a [routerLink]="['/tournees', tour.id]">Voir détails</a>
                </td>
            </tr>
            }
        </tbody>
    </table>
</div> -->

<app-crud-list [items]="tours" [displayFields]="displayFields" (view)="onView($event)" (edit)="onEdit($event)"
    (delete)="onDelete($event)">
</app-crud-list>